.container{
    margin-top: 4em;
}

h1{
    color: rgb(32, 13, 201);
    font-size: 40px;
    margin-bottom: 0;
}

p{
    line-height: 1.5;
    color: rgb(13, 79, 201);
}

@media(max-width:414px){
    h1{
        font-size: 25px;
    }
}